<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{site.info.title}}</title>
  <meta name="description" content="{{site.info.about}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
  <link rel="apple-touch-icon" href="{{site.info.base_url}}/static/images/icon.png">
  <link rel="stylesheet" href="{{site.info.base_url}}/static/styles/main.css">

  <meta name="theme-color" content="#C15247">
</head>

<body>
  <div class="columns is-mobile wrap is-vcentered">
    <div class="column is-full-mobile is-full-tablet is-three-quarters-desktop">
      <article>
        <h1>
          <svg viewBox="0 0 236 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Ronan</title>
            <desc>Ronan Title Image</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group">
                    <path d="M23.688,45.0859375 L0.5,45.0859375 L0.5,0.0699375 L23.688,0.0699375 L23.688,45.0859375 Z M67.344,0.0699375 L67.344,45.0859375 C65.2586562,45.0859375 63.1960102,44.802607 61.156,44.2359375 C59.1159898,43.669268 57.1440095,42.7739436 55.24,41.5499375 C52.6106535,39.8725958 50.4686749,37.8099497 48.814,35.3619375 C47.1593251,32.9139253 46.0146698,30.273285 45.38,27.4399375 C44.7453302,24.60659 44.6659976,21.7279521 45.142,18.8039375 C45.6180024,15.8799229 46.6946583,13.103284 48.372,10.4739375 C50.5480109,7.11925406 53.3246498,4.55794634 56.702,2.7899375 C60.0793502,1.02192866 63.6266481,0.11527106 67.344,0.0699375 Z M118.208,0.0699375 L136.16,45.0859375 L112.904,45.0859375 L94.952,0.0699375 L118.208,0.0699375 Z M190.288,45.0859375 L165.808,45.0859375 L153.16,0.0699375 L177.572,0.0699375 L190.288,45.0859375 Z M218.032,0.0699375 L235.984,45.0859375 L212.728,45.0859375 L194.776,0.0699375 L218.032,0.0699375 Z" id="ronan" fill="#CE4941"></path>
                    <path d="M39.736,45.0859375 L23.688,45.0859375 L23.688,32.9819375 L24.368,32.9819375 C24.5946678,32.9819375 24.8213322,32.9592711 25.048,32.9139375 L39.736,45.0859375 Z M23.688,0.0699375 C25.954678,0.0699375 28.0966566,0.50059986 30.114,1.3619375 C32.1313434,2.22327514 33.8879925,3.40193002 35.384,4.8979375 C36.8800075,6.39394498 38.0586624,8.13926086 38.92,10.1339375 C39.7813376,12.1286141 40.212,14.2592595 40.212,16.5259375 C40.212,18.7019484 39.8153373,20.741928 39.022,22.6459375 C38.2286627,24.549947 37.1520068,26.2385968 35.792,27.7119375 C34.4319932,29.1852782 32.8340092,30.3752663 30.998,31.2819375 C29.1619908,32.1886087 27.1786773,32.7326033 25.048,32.9139375 C24.8213322,32.9592711 24.5946678,32.9819375 24.368,32.9819375 L23.688,32.9819375 L23.688,0.0699375 Z M79.448,3.6059375 C82.0773465,5.28327922 84.2193251,7.35725848 85.874,9.8279375 C87.5286749,12.2986165 88.6733302,14.9392568 89.308,17.7499375 C89.9426698,20.5606182 90.0220024,23.4279229 89.546,26.3519375 C89.0699976,29.2759521 87.9933417,32.052591 86.316,34.6819375 C84.1399891,38.0819545 81.3633502,40.6659287 77.986,42.4339375 C74.6086498,44.2019463 71.0613519,45.0859375 67.344,45.0859375 L67.344,0.0699375 C69.4293438,0.0699375 71.4919898,0.36460122 73.532,0.9539375 C75.5720102,1.54327378 77.5439905,2.42726494 79.448,3.6059375 Z M136.16,0.0699375 L136.16,45.0859375 L118.208,0.0699375 L136.16,0.0699375 Z M94.952,0.0699375 L112.904,45.0859375 L94.952,45.0859375 L94.952,0.0699375 Z M165.808,45.0859375 L140.444,45.0859375 L153.16,0.0699375 L165.808,45.0859375 Z M235.984,0.0699375 L235.984,45.0859375 L218.032,0.0699375 L235.984,0.0699375 Z M194.776,0.0699375 L212.728,45.0859375 L194.776,45.0859375 L194.776,0.0699375 Z" id="RONAN" fill="#F9C38D"></path>
                </g>
            </g>
        </svg>
        </h1>
        <p>I was born in <a class="hilite personal" href="https://dl3.pushbulletusercontent.com/oXwKRbg4t4TllrVHTZfwXOam9i8iNK4P/Screen%20Shot%202019-12-11%20at%202.49.19%20PM.png">Ireland in 1983</a>, and via a dial-up modem and a lot of photoshopped band posters, I found my way to being a designer of screen-based <a class="hilite oss" href="https://gist.github.com/flynnduism/4538d598abd956f22687">things</a>. I graduated from <a href="https://www.dcu.ie/courses/undergraduate/communications/multimedia.shtml">DCU</a> with a BSc in Multimedia in 2006 and spent my twenties working in <a class="hilite job" href="https://www.xcommunications.ie/">digital design</a> <a class="hilite job" href="https://twitter.com/cloudsteph/status/1186897824396578816">agencies</a> and startups in Dublin, before <a class="hilite personal" href="http://ronanandamiee.com/">moving to California</a> in 2013.</p>
        <p>Two cats and three kids later, I live in <a class="hilite personal" href="images/thepoint-lg.png" title="The Point">Point Richmond</a>. I've spent about eighteen years working across interaction, UX, branding, marketing, and product design roles, and more recently as <a class="hilite job" href="https://deislabs.io">a software engineer</a> working in <a class="hilite job" href="https://helm.sh/">open source tech</a> and design.
        <p>Now I'm part of <a href="https://fermyon.com/" title="Fermyon">Fermyon Technologies</a> &mdash; an exciting new entity.</p>

        <p><a href="https://twitter.com/flynnduism">@flynnduism</a></p>
      </article>

      <footer class="is-hidden-mobile">
        <a href="https://github.com/flynnduism/ronan.design/">source</a>
        <div id="wcb" class="carbonbadge"></div>
      </footer>
      
    </div>
    <aside class="column is-one-quarter-desktop is-full-tablet is-full-mobile hero is-fullheight" id="sidebar">
      <nav class="panel">
        <dl>
          <dt>
            <a href="https://fermyon.com/" title="Fermyon">Fermyon Technologies</a>
          </dt>
          <dd>
            <em>2021~</em>
            <p>Founding member &mdash; <a href="https://design.fermyon.dev" target="_blank">designing</a> and <a href="https://github.com/fermyon/" target="_blank">developing</a> WebAssembly-powered tools for an exciting new chapter of cloud computing.</p>
          </dd>
          <dt>
            <a href="https://azure.microsoft.com/en-us/"?>Microsoft Azure</a>
          </dt>
          <dd>
            <em>2017-2021</em>
            Part of the <a href="https://deislabs.io/">Deis Labs</a> team within Azure, I worked on open source projects in the Kubernetes, Web Assembly and cloud-native community space.
          </dd>
          <dt>
            <a href="https://www.wired.com/2017/04/ever-heard-startup-deis-well-microsoft-certainly/">Deis</a>
          </dt>
          <dd>
            <em>2016-2017</em>
            I joined this software company after a period of contractual work, to help them brand and market the company, their projects and events - as well as building and running their website(s).
          </dd>
          <dt>
            <a href="https://timber.io/">Timber.io</a>
          </dt>
          <dd>
            <em>Contractor</em>
            The Timber team wanted some help with the UX &amp; UI of their powerful logging service. I worked with them on a<a href="https://gist.github.com/flynnduism/b9d1202f849cd5fea796ea5b7aa97d55#file-timber-io-concepts-md">couple of visual concepts</a> for the interface of their app.  
          </dd>
          <dt>
            <a href="https://dribbble.com/tags/barricadeio">Barricade.io</a>
          </dt>
          <dd>
            <em>2015-2016</em>
            Design, dev and research for this tech startup. Barricade alerts and advises developers, helping to enforce good cybersecurity practices in an intuitive way.
          </dd>
          <dt>
            <a href="">Engine Yard</a>
          </dt>
          <dd>
            <em>2013-2015</em>
            Part of the UX team working on interface design and front-end dev for this platform-as-a-service cloud company.
          </dd>
          <dt>
            <a href="https://www.xcommunications.ie/">X Communications</a>
          </dt>
          <dd>
            <em>2009-2012</em>
            I joined this digital agency to work with the emerging web standards of the time. Under designer <a href="https://about.me/stewartcurry">Stewart Curry</a> I worked in a fascinating and fast-paced environment for dozens of clients.   
          </dd>
          <dt>
            <a href="https://www.pigsback.com">Pigsback.com</a>
          </dt>
          <dd>
            <em>2005-2009</em>
            Part of the design &amp; production team for this community marketing platform. I came here as an intern and returned for my first design job after graduation.
          </dd>
          <dt>
            <a href="https://www.dcu.ie/courses/undergraduate/school-communications/multimedia">Dublin City University</a>
          </dt>
          <dd>
            <em>2002-2006</em>
            BSc in Multimedia. Completed a 4 year undergrad degree program, where I fell in love with the web, made <a href="https://gist.github.com/flynnduism/4538d598abd956f22687">memes</a> and began a journey into making things for screens. 
          </dd>
        </dl>
      </nav>
    </aside>
  </div>


  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey getNextSurveyStep identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_UFEg7U3IUR6T7Qtz8RAwpPg5NB64EzQ60RBcKPMd1FX', {
          api_host:'https://us.i.posthog.com',
          person_profiles: 'identified_only' // or 'always' to create profiles for anonymous users as well
      })
  </script>
  <script defer src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"></script>

</body>
</html>