/*
/ Ronan.Design
*/


// dependencies

@import './node_modules/normalize.css/normalize';
@import './node_modules/bulma/bulma';


// colors

$front: #C15247;
$back: #F2C495;

$personal: #50E3C2;
$job: #F8E71C;
$oss: #D3DDF7;

@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}


// typography

@mixin workSans {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.025em;
}

body {
  @include workSans;
  font-size: 21px;
  line-height: 1.725;
}

p {
  margin: 1em 0;
}


// layout

html,
body {
  min-height: 100%;
  height: 100%;
  background: lighten($back, 22.5%);
}

.wrap {
  min-height: 100vh;
  margin-bottom: 0;
  overflow: hidden;
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5vw;
  
  h1 {
    margin: 0 0 5em;
    
    svg {
      max-height: 2vw;
    }
  }

  p {
    font-size: 1.667vw;
    padding-right: 2vw;
  }

  a {
    position: relative;
    display: inline-block;
    @include transition;

    &:hover {
      color: $front;
    }

    &.hilite:after {
      position: absolute;
      display: block;
      border-radius: 50%;
      content: " ";
      width: 2em;
      height: 2em;
      left: 50%;
      margin: -1.75em 0 0 -1em;
      opacity: 0.08;
      @include transition;
    }

    &.hilite:hover:after {
      opacity: 0.5;
    }

    &.personal:after {
      background-color: $personal;
    }

    &.job:after {
      background-color: $job;
    }

    &.oss:after {
      background-color: $oss;
    }
  }
}

#sidebar {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow-y: scroll;

  .panel {
    box-shadow: none;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 28.5%;
    background: white;
    box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.05);
  }

  dl {
    padding: 4rem 2.5vw 3rem;
    margin-left: 1vw;
  }

  dt {
    font-size: 1.667vw;
  }

  dd {
    margin-bottom: 4rem;
    font-size: 1vw;
    position: relative;
    opacity: 0.5;
    padding: 0.5rem 1rem 0 0;
    line-height: 1.33;
    @include transition;

    em {
      position: absolute;
      top: -4.25rem;
      font-style: normal;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &:hover {
      opacity: 1;

    }
  }
}

footer {
  position: absolute;
  bottom: 1vw;
  left: 1vw;

  a {
    padding: 2vw 1vw;
    opacity: 0.2;
  }
}


// responsive

@media screen and (max-width: 1023px) {
  article {
    margin-left: auto;
    margin-right: auto;
    max-width: 86vw;

    h1 {
      margin: 3.333rem 0;

      img {
        max-height: 1.5rem;
      }
    }

    p {
      font-size: 1.5rem;
    }
  }

  #sidebar {
    min-height: auto;
    height: auto;
    padding: 0;
    
    .panel {
      position: relative;
      top: auto;
      right: auto;
      max-width: 100%;
      height: auto;
      overflow: visible;
    }
  }
}

@media screen and (max-width: 1023px) {
  #sidebar {
    .panel {
      position: relative;
      top: auto;
      right: auto;
      max-width: 100%;
    }
  }
}
